{% extends  "layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum aliquam provident eius alias
            exercitationem quas maiores facere cumque nesciunt nemo necessitatibus ex, molestiae aspernatur atque at quo
            veniam impedit eos.
        </p>
    </div>
</div>

{% endblock %}